*.ckpt filter=lfs diff=lfs merge=lfs -text
.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
/home/harsh/Desktop/*/data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
